div.select {
  margin: 10px;
  span.selectCount {
    font-size: 12px;
    margin-left: 5px;
  }
}

.wrapper {
  padding: 0 10px;
  position: relative;
  width: 150px;
  display: inline-block;
  img {
    box-sizing: border-box;
    width: 100%;
  }
  .checkwrapper {
    position: absolute;
    left: 15px;
    top: 3px;
  }
  .picName {
    text-align: center;
  }
}